@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Business Contacts</h1>
    <br />

    <p>To se all contacts please click <a asp-controller="ContactData" asp-action="Index">here</a> or on <em>Contacts</em> link in menu bar.</p>
    <br />

    <p>If you would like to add new contact please click <a asp-controller="ContactData" asp-action="Create">here</a> or on <em>Add New</em> link in menu bar.</p>
</div>
